body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(176, 235, 14);
    width: 100%;
}

header {
    background-color: rgb(219, 86, 9);
}


header img {
    padding-left: 10px;
    padding-top: 10px;
    float: left;
    
}

body header h1 {
    background-color: blueviolet;
    width: 75%;
    display: inline;
    font-size: 84pt;
    vertical-align: top;
    padding-left: 50px;
    margin-left: 10px;
}

body header h2 {
    background-color: crimson;
    width: 75%;
    display: inline;
    font-size: 24pt;
    padding-left: 20px;
    margin-left: 10px;
}

main {
    background-color: rgb(111, 23, 211);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

section {
    background-color: rgb(19, 173, 109);
    width: 96%;
    margin: 10px;
    padding: 10px;
    outline: black 1px solid;
}

 header nav ul {
     margin: 10;
     padding: 10;
     list-style-type: none;
 }

 header nav li {
     display: inline-block;
     border: 1px solid black;
     padding: 5px 10px 5px 10px;
     margin: 10px;
 }

 section.left img {
    padding: 0px;
    margin: 10px;
    display: block;
    float: left;
    size: 50px;
}

section.right img {
    display: block;
    float: right;
    margin: 10px;
    size: 50px;
}

